/*
pri: primary;
sec: secondary;
t: text;
btn: button;
btn-active: button:where(:hover,:focus,:active,:target);
*/
:root{
  --pri-color:#000;
  --sec-color:#52057B;
  --pri-cont-color:#8443B1;
  --sec-cont-color:#B36CE4;
  --pri-t-color:#fff;
  --pri-btn-color:#BC6FF1;
  --pri-btn-active-color:#D0A2F0;
  --sec-btn-color:#fff;
}
*{
    transition: 0.3s;
}
body {
    --s: 23px; /* control the size */
    --c: var(--pri-color);
    
    --_g: 
      #0000 calc(-650%/13) calc(50%/13),var(--c) 0 calc(100%/13),
      #0000 0 calc(150%/13),var(--c) 0 calc(200%/13),
      #0000 0 calc(250%/13),var(--c) 0 calc(300%/13);
    --_g0: repeating-linear-gradient( 45deg,var(--_g));
    --_g1: repeating-linear-gradient(-45deg,var(--_g));
    background:
      var(--_g0),var(--_g0) var(--s) var(--s),
      var(--_g1),var(--_g1) var(--s) var(--s) var(--sec-color);
    background-size: calc(2*var(--s)) calc(2*var(--s));
  }
  img{
    max-width: 100%;
    max-height: 100%;
  }
  ul{
    list-style-type: none;
  }
  a{
    text-decoration: none;
    color:var(--pri-btn-color);
  }
  .listofpages a{
    color: var(--pri-t-color);
  }
  :where(li.listofpages a, a):hover{
    color: var(--pri-btn-active-color)!important;
  }