/*
pri: primary;
sec: secondary;
t: text;
btn: button;
btn-active: button:where(:hover,:focus,:active,:target);
*/
/*@import url("jquery-ui/dist/themes/ui-darkness/");*/
:root{
  --pri-color:#000;
  --sec-color:#52057B;
  --tri-color:#a600ff;
  --pri-cont-color:#8443B1;
  --sec-cont-color:#B36CE4;
  --pri-t-color:#fff;
  --pri-btn-color:#BC6FF1;
  --pri-btn-active-color:#D0A2F0;
  --sec-btn-color:#fff;
  --sec-btn-active-color:#722DA2;
  --tri-btn-color:#56356C;
  --tri-btn-active-color:#fff;
  --pri-label-color:#eee;
  --pri-border-color:rgba(205, 194, 255, 0.4);
  --pri-border-active-color:#5229cc;
  --sec-border-color:bisque;
  --pri-textbox-color:white;
}
*{
    transition: 0.3s;
}
body {
    --s: 23px; /* control the size */
    --c: var(--pri-color);
    
    --_g: 
      #0000 calc(-650%/13) calc(50%/13),var(--c) 0 calc(100%/13),
      #0000 0 calc(150%/13),var(--c) 0 calc(200%/13),
      #0000 0 calc(250%/13),var(--c) 0 calc(300%/13);
    --_g0: repeating-linear-gradient( 45deg,var(--_g));
    --_g1: repeating-linear-gradient(-45deg,var(--_g));
    background:
      var(--_g0),var(--_g0) var(--s) var(--s),
      var(--_g1),var(--_g1) var(--s) var(--s) var(--sec-color);
    background-size: calc(2*var(--s)) calc(2*var(--s));
  }
  video,img{
    max-width: 100%;
    max-height: 100%;
  }
  ul{
    list-style-type: none;
  }
  a{
    text-decoration: none;
    color:var(--pri-btn-color);
  }
  button{
    background-color: transparent;
border-color: transparent;
color: var(--pri-t-color);
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=text]{
    outline: none;
  }
  .listofpages a{
    color: var(--pri-t-color);
  }
  .btn_theme{
    background-color: var(--tri-btn-color);
    padding:2px 8px ;
    border-radius:3px;
  }
  .btn_theme:hover,.btn_theme.active{
    background-color: var(--tri-btn-active-color);
    color: var(--tri-btn-color);
  }
  :where(li.listofpages a, a):hover{
    color: var(--pri-btn-active-color)!important;
  }
  /* Region Form*/
  .form-row{
    min-height: 70vh;
    }
    .form{
        background-color: var(--pri-color);
        border-radius: 5px;
        padding:50px 120px;
    }
    
    .submit_btn{
        width: fit-content;
        align-self: center;
        background-color: var(--pri-btn-color);
        padding: 3px 5px;
        border: 1px solid var(--pri-border-color);
    }
    .submit_btn:hover {
      background-color: var(--sec-btn-active-color);
    }
    .content {
      background-color: var(--pri-color);
      padding: 30px;
  }
    @media (max-width: 1200px) {
        .form{
            padding: 50px;
        }
    }
    @media (max-width:768px) {
        .form{
            padding: 50px 30px;
        }
    }
    /*End Region Form*/